body {
	font-family: helvetica neue, helvetica, arial, san-serif;
	color: #FFFFFF;
	background-color: $bg-color;
	text-align: center;

}

header, #container {
	text-align: left;
}
header, footer, section {
	width: 100%;
	padding: 1em;
	position: fixed;
}

header, footer {
	background: #aaa;
}

footer {
	bottom: 0;
	height: 2em;
}



header {
	top: 0;
	height: 2em;

	li:first-child {
		float: left;
	}

	li:last-child {
		float:right;
	}
}


section {
	top: 2em;
	bottom: 2em;
	overflow: scroll;
}


#container {
	max-width: 1080px;
	margin: 4.2em auto 0 auto;
	overflow: auto;
	padding: 1em;
	overflow: hidden;
	}

.count {
	background: $count-c;
}
.rating {
	background: $rating-c;
}
.binary {
	background: $binary-c;
}